@charset "utf-8";
body {
    color: #333333;
    background-color: #ecf0f1;
}

h1 {
    font-size: 30px;
    background-color: #3498db;
    color: #ffffff;
    padding: 8px 14px;
    text-align: center;
}

h2 {
    font-size: 20px;
    background-color: #3498db;
    color: #f39c12;
    padding: 7px 10px;
}

a.href {
    color: aqua;
    border-bottom: 2px solid blue;
}

img {
    width: 25%;
    height: 25%;
}

strong.r {
    color: red;
}

strong.b {
    color: blue;
}