@charset "utf-8";
body {
    color: #333333;
    background-color: #ecf0f1;
}

h1 {
    font-size: 30px;
    background-color: #3498db;
    color: #ffffff;
    padding: 8px 14px;
    text-align: center;
}

h2 {
    font-size: 20px;
    background-color: #3498db;
    color: #f39c12;
    padding: 7px 10px;
}

a.href {
    color: aqua;
    border-bottom: 2px solid blue;
}

img {
    width: 25%;
    height: 25%;
}

strong.r {
    color: red;
}

strong.b {
    color: blue;
}

.balloon1-left {
    position: relative;
    display: inline-block;
    margin: 1.5em 0 1.5em 15px;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #e0edff;
}

.balloon1-left:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #e0edff;
}

.balloon1-left ul {
    margin: 0;
    padding: 0;
}