@charset "utf-8";
h1 {
    font-size: 30px;
    background-color: #00af3a;
    color: #ffffff;
    padding: 8px 14px;
    text-align: center;
}

h2 {
    font-size: 20px;
    background-color: #080000;
    color: #c1f103;
    padding: 7px 10px;
}

a.href {
    color: aqua;
    border-bottom: 2px solid blue;
}

img {
    width: 25%;
    height: 25%;
}